%h1 Status
.col_16.col
  %h3 
    Movies:
    = @status[:movies]
  %h3 
    Movies genres:
    = @status[:genres]
  %h3 
    Diretors:
    = @status[:directors]
  %h3 
    Writers:
    = @status[:writers]
  
